@charset 'utf-8';
/* @import url(fonts.css); */
@import url(all.min.css);
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2');
@import url('https://webfontworld.github.io/PyeongChang/PyeongChangPeace.css');

/* font-face */
@font-face {
            font-family: 'PyeongChangPeace';
            font-weight: 300;
            font-style: normal;
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix') format('embedded-opentype'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2') format('woff2'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff') format('woff'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf') format("truetype");
            font-display: swap;
        } 
@font-face {
            font-family: 'PyeongChangPeace';
            font-weight: 700;
            font-style: normal;
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot');
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix') format('embedded-opentype'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2') format('woff2'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff') format('woff'),
                url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf') format("truetype");
            font-display: swap;
        } 

/* common */
body {font-family: 'Noto Sans KR', sans-serif;}
#wrap {width: 100%;}
.main_bg {background-color: #250060}
.inner {position: relative;width: 1120px; margin: 0 auto;}
#container section {padding: 45px 0;}
h2 {display: block; font-size: 110px;font-weight: 300;font-family: 'PyeongChangPeace';color: #fff;text-align: center;}
.h2text {font-family:'PyeongChangPeace';font-weight: 300;font-size: 44px;color: #fff;text-align: right;padding-right:80px;margin-bottom: 80px;}
h3 {display: block;font-family: 'PyeongChangPeace';font-size: 3rem;color: #250060;}
h4 {color: #250060;font-size: 22px;margin-bottom: 10px;}
h5 {font-size:18px;font-family:'PyeongChangPeace';color: #fff;margin-bottom: 10px;}
h6 {font-family: 'PyeongChangPeace';font-size: 24px;color:#250060;text-align:left;}
.text {font-family: 'PyeongChang';font-size: 20px;color:#250060;text-align:left;}
/* header */
Header {
  width: 1120px;
  height: 110px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* border가 들어갔으니 박스사이징으로 전체 사이즈 변동 없게 */

header .top {width: auto; height: 50px; float: right;}
/* header .top ul {float: right;position: relative; box-sizing: border-box;} */
header .top ul li {float: left;position: relative;}
header .top ul li span {display: inline-block;position: relative;padding: 0 8px;line-height: 40px;color: #fff;}
header .top ul li.on span {font-weight: 500;}
header .top ul li.on span:after {
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%; height: 3px;
    border-bottom: 1px solid #fff;
}
header .top ul li a {display: block;text-align: center;}

header .logo {position: absolute; top: 50px; left: 0; width:195px;height:60px; background: url(../img/logo_white.png) no-repeat center/cover;}
header .logo > a {display: block;height: 100%;line-height:46px;font-size: 2.4rem;color: #fff;}
header .search {position: absolute; top:50px;right: 0; width: 70px; height: 70px;background: url(../img/icon_search.png) no-repeat center/26px;}

/* mainVisual 영역 */
#mainVisual {position:relative; width:100%; height:930px;margin: 0 auto;color: #fff;padding-bottom: 10px;}
#mainVisual .mainPic {height: 837px; background: url(../img/main.png) no-repeat center/contain;}
#mainVisual .main_title {position: absolute;top:0;right:0;transform: translateX(110%);}
#mainVisual .main_title h2 {display: block; font-size: 100px;font-weight: 300;font-family: 'PyeongChangPeace';color: #fff;text-align: left; line-height: 110px;}
#mainVisual .main_title .title_eng {margin-top: 20px;}
#mainVisual .main_title .title_chn {margin-top: 20px;}
#mainVisual .desc {font-family: 'PyeongChang';font-size: 16px;text-align: left;line-height: 1.7;margin-top: 10px;padding-bottom: 20px;}
/* //메인비주얼 */


/* 아이콘 영역 */
#container .icon ul li {
  position: relative;
  float: left;
  width: calc(100%/7);
  height: 120px;
  text-align: center;
  box-sizing: border-box;
  color: #250060;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}
#container .icon ul .icon01 {background: url(../img/storyicon01.png) no-repeat center/contain;}
#container .icon ul .icon02 {background: url(../img/storyicon02.png) no-repeat center/contain;}
#container .icon ul .icon03 {background: url(../img/storyicon03.png) no-repeat center/contain;}
#container .icon ul .icon04 {background: url(../img/storyicon04.png) no-repeat center/contain;}
#container .icon ul .icon05 {background: url(../img/storyicon05.png) no-repeat center/contain;}
#container .icon ul .icon06 {background: url(../img/storyicon06.png) no-repeat center/contain;}
#container .icon ul .icon07 {background: url(../img/storyicon07.png) no-repeat center/contain;}
#container .icon ul li {padding: 10px;}
#container .icon ul li p {text-align: center;padding-top:100px;color: #250060;opacity: 0.9;}

/* 소개영역 */
#container .intro {margin:0 20px;}
#container .intro .title_group > p {font-size:20px;
  line-height: 1.7;color:#555;margin-top: 10px;margin-bottom: 20px;}
#container .intro .do {margin-bottom: 20px;}
#container .intro .do h4 {}
#container .intro .do li {font-size: 20px;line-height: 1.7;color:#555;}

#container .intro .link {margin: 20px 0 60px 0;}
#container .intro .link > h4 {display: block;margin-bottom: 30px;}
#container .intro .link > a {margin-right: 30px;}



#container .intro .link img.link1:hover {background: url(../img/link1hover2.png)}
#container .intro .link img.link2:hover {background: url(../img/link2hover.png)}
#container .intro .link img.link3:hover {background: url(../img/link3hover.png)}



/* 카드영역 */
#card {background-color: #250060;}
#card .inner {padding: 100px 0 0 0;}
#card .card_list li {float: left;width: calc(25%);
  margin-bottom: 80px;}
#card .card_list li >a {cursor: pointer;}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 270px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #250060;
}

/* Style the back side */
.flip-card-back {
  background-color: #250060;
  transform: rotateY(180deg);
}

/* 지도 */
#search {margin-top: 50px;margin-bottom: 100px;}
#search .contents {margin-top: 50px;}
#search .contents .left {float: left;}
#search .contents .right {float: right;}
#search ul {margin-top: 10px;}
#search ul h6 {margin-top: 60px;}
#search .text {font-weight: bold;margin-right: 10px;}
#search .sel1 select {right:0;border: 1px solid #250060;width:200px;height:;padding: 4px;font-family:'PyeongChang';font-size: 16px;color: #250060;text-align: center;}
#search .keyword span {display: inline-block;background-color: #250060;color: #fff; padding:4px;margin-top: 1px;}
#search .keyword .text input[type="text"] {height: 32px;border: 1px solid #250060; vertical-align: top;}
#search .btn_search {margin-top: 80px;}
#search .btn_search > a {padding:10px;}
#search .btn_search > a:hover {background-image: url(../img/se);}
#search .category form {font-family: 'PyeongChang';font-size: 18px;font-weight: bold;color: #250060;}
#search .category form input[type="checkbox"] {border: 1px solid #250060;width: 20px;height: 20px; vertical-align: middle;}

footer {padding: 30px;font-family: 'PyeongChang';background-color: #250060;color: #fff;}
footer img {float:left;height:200px;top: 0;left: 0;;padding: 3px 5px;}
footer .foot_info {text-align: right; color: rgba(255, 255, 255, 0.8);
}
footer address { margin-top: 20px;}
footer .tel {margin-top: 20px;}
footer .copy {margin-top: 60px;font-size: 12px;}

